<div id="<%= dom_id article %>">
  <p>
    <strong>Movietitle:</strong>
    <%= article.movietitle %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= article.director %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= article.language %>
  </p>

</div>
