<p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
  <%= link_to "Edit this Movie", edit_article_path(@article) %> |
  <%= link_to "Back to movie", articles_path %>

  <%= button_to "Destroy this movie", @article, method: :delete %>
</div>
